/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

@width: 960px;
@grid: 16;
@spacing: 20px;

/*****************************
 * The container
 *****************************/
.grid {
    margin-left: auto;
    margin-right: auto;
}

.grid, .container {
    width: @width;
}

/*****************************
 * General Styles
 *****************************/
.grid .column,
.grid .columns {
    display: inline;
    position: relative;
    float: left;
    margin-left: percentage(((@width / @spacing) / 100 / 100 / 2));
    margin-right: percentage(((@width / @spacing) / 100 / 100 / 2));
}

/*****************************
 * Nested Columns (Alpha & Omega)
 *****************************/
.grid .column.alpha, 
.grid .columns.alpha {
    margin-left: 0;
}

.grid .column.omega, 
.grid .columns.omega {
    margin-right: 0;
}

/*****************************
 * Grid
 *****************************/

.grid-width(@cols) {
	width: percentage((((@width / @grid) * @cols - @spacing) / (@width + @spacing)));
}

.textual-grid(@cols) {
	margin-top: 0;
	column-count: @cols;
    -moz-column-count: @cols;
    -webkit-column-count: @cols;
}

.gridLoop (@index) when (@index > 0) {

	.grid .span-@{index} {
		.grid-width(@index);
	}

	.text-@{index} {
		.textual-grid(@index);
	}

	.text-@{index} p {
		margin-top: 0;
	}

	.gridLoop(@index - 1);
}
.gridLoop (0) {} .gridLoop (@grid);

/*****************************
 * Responsive
 *****************************/

@media only screen and (max-width: @width) {
	.grid.responsive {
		width: 100%;
	}
}

/* Smartphone (Portrait) */
@media only screen and (max-width: 767px) {
    .grid.responsive,
    .grid.responsive .container,
    .grid.responsive .column,
    .grid.responsive .columns {
        .grid-width(@grid);
    }
}


