/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

@import "gridify.css"

.border-radius (@radius) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  -ms-border-radius: @radius;
  -o-border-radius: @radius;
  border-radius: @radius;
  behavior: url(PIE/PIE.php);
}