/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

@width: 960px;
@grid: 16;
@spacing: 20px;

/*****************************
 * The container
 *****************************/
.grid {
    margin-left: auto;
    margin-right: auto;
}

.grid, .container {
    width: @width;
}

/*****************************
 * General Styles
 *****************************/
.grid .column,
.grid .columns {
    display: inline;
    position: relative;
    float: left;
    margin-left: (@spacing / 2);
    margin-right: (@spacing / 2);
}

/*****************************
 * Nested Columns (Alpha & Omega)
 *****************************/
.grid .column.alpha, 
.grid .columns.alpha {
    margin-left: 0;
}

.grid .column.omega, 
.grid .columns.omega {
    margin-right: 0;
}

/*****************************
 * Grid
 *****************************/

.grid-width(@cols) {
	width: percentage((((@width / @grid) * @cols - @spacing) / @width));
}

.textual-grid(@cols) {
	margin-top: 0;
	column-count: @cols;
    -moz-column-count: @cols;
    -webkit-column-count: @cols;
}

.gridLoop (@index) when (@index > 0) {

	.grid .span-@{index} {
		.grid-width(@index);
	}

	.text-@{index} {
		.textual-grid(@index);
	}

	.text-@{index} p {
		margin-top: 0;
	}

	.gridLoop(@index - 1);
}
.gridLoop (0) {} .gridLoop (@grid);

/*****************************
 * Responsive
 *****************************/

@media only screen and (max-width: @width) {
	.grid.responsive {
		width: 100%;
	}
}

/* Smartphone (Portrait) */
@media only screen and (max-width: 767px) {
    .grid.responsive,
    .grid.responsive .container,
    .grid.responsive .column,
    .grid.responsive .columns {
        width: 300px;
    }
}

/* Smartphone (Landscape) */
@media only screen and (min-width: 480px) and  (max-width: 767px) {
    .grid.responsive,
    .grid.responsive .container,
    .grid.responsive .column,
    .grid.responsive .columns {
        width: 420px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .grid.responsive {
        width: 769px;
    }
    
    .grid.responsive .span-1 {
        width: 28px;
    }
    .grid.responsive .span-2 {
        width: 76px;
    }

    .grid.responsive .span-3 {
        width: 124px;
    }

    .grid.responsive .span-4 {
        width: 172px;
    }

    .grid.responsive .span-5 {
        width: 220px;
    }

    .grid.responsive .span-6 {
        width: 268px;
    }

    .grid.responsive .span-7 {
        width: 316px;
    }

    .grid.responsive .span-8 {
        width: 364px;
    }

    .grid.responsive .span-9 {
        width: 412px;
    }

    .grid.responsive .span-10 {
        width: 460px;
    }

    .grid.responsive .span-11 {
        width: 508px;
    }

    .grid.responsive .span-12 {
        width: 556px;
    }

    .grid.responsive .span-13 {
        width: 604px;
    }

    .grid.responsive .span-14 {
        width: 652px;
    }

    .grid.responsive .span-15 {
        width: 700px;
    }

    .grid.responsive .span-16 {
        width: 748px;
    }
}
