/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/*****************************
 * The container
 *****************************/
.grid-12, .grid-16 {
    margin-left: auto;
    margin-right: auto;
}

.grid-12, .grid-16, .container {
    width: 960px;
}

/*****************************
 * General Styles
 *****************************/
.grid-12 .column, .grid-16 .column,
.grid-12 .columns, .grid-16 .columns {
    display: inline;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/*****************************
 * Nested Columns (Alpha & Omega)
 *****************************/
.grid-12 .column.alpha, .grid-16 .column.alpha, 
.grid-12 .columns.alpha, .grid-16 .columns.alpha {
    margin-left: 0;
}

.grid-12 .column.omega, .grid-16 .column.omega, 
.grid-12 .columns.omega, .grid-16 .columns.omega {
    margin-right: 0;
}

/*****************************
 * Columns that share widths
 *****************************/
.grid-12 .span-3,
.grid-16 .span-4 {
    width: 220px;
}

.grid-12 .span-6,
.grid-16 .span-8 {
    width: 460px;
}

.grid-12 .span-9,
.grid-16 .span-12 {
    width: 700px;
}

.grid-12 .span-12,
.grid-16 .span-16 {
    width: 940px;
}

/*****************************
 * 12 Column Grid
 *****************************/

.grid-12 .span-1 {
    width: 60px;
}

.grid-12 .span-2 {
    width: 140px;
}

.grid-12 .span-4 {
    width: 300px;
}

.grid-12 .span-5 {
    width: 380px;
}

.grid-12 .span-7 {
    width: 540px;
}

.grid-12 .span-8 {
    width: 620px;
}

.grid-12 .span-10 {
    width: 780px;
}

.grid-12 .span-11 {
    width: 860px;
}

/*****************************
 * 16 Column Grid
 *****************************/

.grid-16 .span-1 {
    width: 40px;
}

.grid-16 .span-2 {
    width: 100px;
}

.grid-16 .span-3 {
    width: 160px;
}

.grid-16 .span-5 {
    width: 280px;
}

.grid-16 .span-6 {
    width: 340px;
}

.grid-16 .span-7 {
    width: 400px;
}

.grid-16 .span-9 {
    width: 520px;
}

.grid-16 .span-10 {
    width: 580px;
}

.grid-16 .span-11 {
    width: 640px;
}

.grid-16 .span-13 {
    width: 760px;
}

.grid-16 .span-14 {
    width: 820px;
}

.grid-16 .span-15 {
    width: 880px;
}

/*****************************
 * Textual styles
 *****************************/

.text-2,
.text-2 p,
.text-3,
.text-3 p,
.text-4,
.text-4 p,
.text-5,
.text-5 p,
.text-6,
.text-6 p,
.text-7,
.text-7 p,
.text-8,
.text-8 p,
.text-9,
.text-9 p {
    margin-top: 0;
}

/*****************************
 * Textual columns
 *****************************/

.text-2 {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}


.text-3 {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.text-4 {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.text-5 {
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;
}

.text-6 {
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
}

/*****************************
 * Responsive
 *****************************/

/* Smartphone (Portrait) */
@media only screen and (max-width: 767px) {
    .grid-16.responsive,
    .grid-16.responsive .container,
    .grid-16.responsive .column,
    .grid-16.responsive .columns {
        width: 300px;
    }
}

/* Smartphone (Landscape) */
@media only screen and (min-width: 480px) and  (max-width: 767px) {
    .grid-16.responsive,
    .grid-16.responsive .container,
    .grid-16.responsive .column,
    .grid-16.responsive .columns {
        width: 420px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .grid-16.responsive {
        width: 769px;
    }
    
    .grid-16.responsive .span-1 {
        width: 28px;
    }
    .grid-16.responsive .span-2 {
        width: 76px;
    }

    .grid-16.responsive .span-3 {
        width: 124px;
    }

    .grid-16.responsive .span-4 {
        width: 172px;
    }

    .grid-16.responsive .span-5 {
        width: 220px;
    }

    .grid-16.responsive .span-6 {
        width: 268px;
    }

    .grid-16.responsive .span-7 {
        width: 316px;
    }

    .grid-16.responsive .span-8 {
        width: 364px;
    }

    .grid-16.responsive .span-9 {
        width: 412px;
    }

    .grid-16.responsive .span-10 {
        width: 460px;
    }

    .grid-16.responsive .span-11 {
        width: 508px;
    }

    .grid-16.responsive .span-12 {
        width: 556px;
    }

    .grid-16.responsive .span-13 {
        width: 604px;
    }

    .grid-16.responsive .span-14 {
        width: 652px;
    }

    .grid-16.responsive .span-15 {
        width: 700px;
    }

    .grid-16.responsive .span-16 {
        width: 748px;
    }
}
