/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/*****************************
 * The container
 *****************************/
.grid {
    margin-left: auto;
    margin-right: auto;
}

.grid, .container {
    width: 960px;
}

/*****************************
 * General Styles
 *****************************/
.grid .column,
.grid .columns {
    display: inline;
    position: relative;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
}

/*****************************
 * Nested Columns (Alpha & Omege)
 *****************************/
.grid .column.alpha, 
.grid .columns.alpha {
    margin-left: 0;
}

.grid .column.omege, 
.grid .columns.omege {
    margin-left: 0;
}

/*****************************
 * Columns that share widths
 *****************************/
.grid.twelve .three.columns,
.grid.sixteen .four.columns {
    width: 220px;
}

.grid.twelve .six.columns,
.grid.sixteen .eight.columns {
    width: 460px;
}

.grid.twelve .nine.columns,
.grid.sixteen .twelve.columns {
    width: 700px;
}

.grid.twelve .twelve.columns,
.grid.sixteen .sixteen.columns {
    width: 940px;
}

/*****************************
 * 12 Column Grid
 *****************************/

.grid.twelve .one.column,
.grid.twelve .one.columns {
    width: 60px;
}

.grid.twelve .two.columns {
    width: 140px;
}

.grid.twelve .four.columns {
    width: 300px;
}

.grid.twelve .five.columns {
    width: 380px;
}

.grid.twelve .seven.columns {
    width: 540px;
}

.grid.twelve .eight.columns {
    width: 620px;
}

.grid.twelve .ten.columns {
    width: 780px;
}

.grid.twelve .eleven.columns {
    width: 860px;
}

/*****************************
 * 16 Column Grid
 *****************************/

.grid.sixteen .one.column,
.grid.sixteen .one.columns {
    width: 40px;
}

.grid.sixteen .two.columns {
    width: 100px;
}

.grid.sixteen .three.columns {
    width: 160px;
}

.grid.sixteen .five.columns {
    width: 280px;
}

.grid.sixteen .six.columns {
    width: 340px;
}

.grid.sixteen .seven.columns {
    width: 400px;
}

.grid.sixteen .nine.columns {
    width: 520px;
}

.grid.sixteen .ten.columns {
    width: 580px;
}

.grid.sixteen .eleven.columns {
    width: 640px;
}

.grid.sixteen .thirteen.columns {
    width: 760px;
}

.grid.sixteen .fourteen.columns {
    width: 820px;
}

.grid.sixteen .fifteen.columns {
    width: 880px;
}

/*****************************
 * Textual styles
 *****************************/

.two-text,
.three-text,
.four-text,
.five-text,
.six-text,
.seven-text,
.eight-text,
.nine-text {
    margin-top: 0;
}

.two-text p,
.three-text p,
.four-text p,
.five-text p,
.six-text p,
.seven-text p,
.eight-text p,
.nine-text p {
    margin-top: 0;
}

/*****************************
 * Textual columns
 *****************************/

.two-text {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}


.three-text {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.four-text {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.five-text {
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;
}

.six-text {
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
}

/*****************************
 * Responsive
 *****************************/

/* Smartphone (Portrait) */
@media only screen and (max-width: 767px) {
    .grid.sixteen.responsive,
    .grid.sixteen.responsive .container,
    .grid.sixteen.responsive .column,
    .grid.sixteen.responsive .columns {
        width: 300px;
    }
}

/* Smartphone (Landscape) */
@media only screen and (min-width: 480px) and  (max-width: 767px) {
    .grid.sixteen.responsive,
    .grid.sixteen.responsive .container,
    .grid.sixteen.responsive .column,
    .grid.sixteen.responsive .columns {
        width: 420px;
    }
}

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}