/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/*****************************
 * The container
 *****************************/
.grid {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

/*****************************
 * General Styles
 *****************************/
.grid .one-column,
.grid .one-columns,
.grid .two-columns,
.grid .three-columns,
.grid .four-columns,
.grid .five-columns,
.grid .six-columns,
.grid .seven-columns,
.grid .eight-columns,
.grid .nine-columns,
.grid .ten-columns,
.grid .eleven-columns,
.grid .twelve-columns,
.grid .thirteen-columns,
.grid .fourteen-columns,
.grid .fifteen-columns,
.grid .sixteen-columns {
    display: inline;
    float: left;
}

/*****************************
 * Columns that share widths
 *****************************/
.grid.twelve .three-columns,
.grid.sixteen .four-columns {
    width: 220px;
}

.grid.twelve .six-columns,
.grid.sixteen .eight-columns {
    width: 460px;
}

.grid.twelve .nine-columns,
.grid.sixteen .twelve-columns {
    width: 700px;
}

.grid.twelve .twelve-columns,
.grid.sixteen .sixteen-columns {
    width: 940px;
}

/*****************************
 * 12 Column Grid
 *****************************/

.grid.twelve .one-column,
.grid.twelve .one-columns {
    width: 60px;
}

.grid.twelve .two-columns {
    width: 140px;
}

.grid.twelve .four-columns {
    width: 300px;
}

.grid.twelve .five-columns {
    width: 380px;
}

.grid.twelve .seven-columns {
    width: 540px;
}

.grid.twelve .eight-columns {
    width: 620px;
}

.grid.twelve .ten-columns {
    width: 780px;
}

.grid.twelve .eleven-columns {
    width: 860px;
}

/*****************************
 * 16 Column Grid
 *****************************/

.grid.sixteen .one-column,
.grid.sixteen .one-columns {
    width: 40px;
}

.grid.sixteen .two-columns {
    width: 100px;
}

.grid.sixteen .three-columns{
    width: 160px;
}

.grid.sixteen .five-columns {
    width: 280px;
}

.grid.sixteen .six-columns {
    width: 340px;
}

.grid.sixteen .seven-columns {
    width: 400px;
}

.grid.sixteen .nine-columns {
    width: 520px;
}

.grid.sixteen .ten-columns {
    width: 580px;
}

.grid.sixteen .eleven-columns {
    width: 640px;
}

.grid.sixteen .thirteen-columns {
    width: 760px;
}

.grid.sixteen .fourteen-columns {
    width: 820px;
}

.grid.sixteen .fifteen-columns {
    width: 880px;
}

/*****************************
 * Textual styles
 *****************************/

.two-text,
.three-text,
.four-text,
.five-text,
.six-text,
.seven-text,
.eight-text,
.nine-text {
    margin-top: 16px;
}

.two-text p,
.three-text p,
.four-text p,
.five-text p,
.six-text p,
.seven-text p,
.eight-text p,
.nine-text p {
    margin-top: 0;
}

/*****************************
 * Textual columns
 *****************************/

.two-text {
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
}


.three-text {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
}

.four-text {
    column-count: 4;
    -moz-column-count: 4;
    -webkit-column-count: 4;
}

.five-text {
    column-count: 5;
    -moz-column-count: 5;
    -webkit-column-count: 5;
}

.six-text {
    column-count: 6;
    -moz-column-count: 6;
    -webkit-column-count: 6;
}

/*****************************
 * Responsive
 *****************************/

/* Tablet */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* Smartphone (Landscape) */
@media only screen and (min-width: 480px) and  (max-width: 767px) {

}

/* Smartphone (Portrait) */
@media only screen and (max-width: 767px) {
    .grid.sixteen.responsive,
    .grid.sixteen.responsive .one-column,
    .grid.sixteen.responsive .one-columns,
    .grid.sixteen.responsive .two-columns,
    .grid.sixteen.responsive .three-columns,
    .grid.sixteen.responsive .four-columns,
    .grid.sixteen.responsive .five-columns,
    .grid.sixteen.responsive .six-columns,
    .grid.sixteen.responsive .seven-columns,
    .grid.sixteen.responsive .eight-columns,
    .grid.sixteen.responsive .nine-columns,
    .grid.sixteen.responsive .ten-columns,
    .grid.sixteen.responsive .eleven-columns,
    .grid.sixteen.responsive .twelve-columns,
    .grid.sixteen.responsive .thirteen-columns,
    .grid.sixteen.responsive .fourteen-columns,
    .grid.sixteen.responsive .fifteen-columns,
    .grid.sixteen.responsive .sixteen-columns {
        width: 300px;
    }
}