/*
* Gridify v0.1
* Copyright 2013, Chris Harvey
* www.gridifycss.com
* 
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
*/

/* The container */
.container {
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}

/* General styles */
.container .one,
.container .two,
.container .three,
.container .four,
.container .five,
.container .six,
.container .seven,
.container .eight,
.container .nine,
.container .ten,
.container .eleven,
.container .twelve,
.container .thirteen,
.container .fourteen,
.container .fifteen,
.container .sixteen {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

/* Columns that share widths */
.container.twelve .three,
.container.sixteen .four {
  width: 220px;
}

.container.twelve .six,
.container.sixteen .eight {
  width: 460px;
}

.container.twelve .nine,
.container.sixteen .twelve {
  width: 700px;
}

.container.twelve .twelve,
.container.sixteen .sixteen {
  width: 940px;
}

/* Textual styles */

.text {
	margin-top: 16px;
}

.text p {
	margin-top: 0;
}

/* Textual columns */

.text.two {
	column-count: 2;
	-moz-column-count: 2;
	-webkit-column-count: 2;
}


.text.three {
	column-count: 3;
	-moz-column-count: 3;
	-webkit-column-count: 3;
}

.text.four {
	column-count: 4;
	-moz-column-count: 4;
	-webkit-column-count: 4;
}

.text.five {
	column-count: 5;
	-moz-column-count: 5;
	-webkit-column-count: 5;
}

.text.six {
	column-count: 6;
	-moz-column-count: 6;
	-webkit-column-count: 6;
}

.text.seven {
	column-count: 7;
	-moz-column-count: 7;
	-webkit-column-count: 7;
}

.text.eight {
	column-count: 8;
	-moz-column-count: 8;
	-webkit-column-count: 8;
}

.text.nine {
	column-count: 9;
	-moz-column-count: 9;
	-webkit-column-count: 9;
}
